header {
    padding-block: 32px;
    font: var(--text-md);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#profile {
    display: flex;
    gap: 32px;

}

#profile > div {
    max-width: 348px;
}

#profile img{
    width: 176px;
    height: 176px;
    border-radius: 50%;
    object-fit: cover;
}

#profile h1 {
    font: var(--text-lg);
    color: var(--text-color-primary);
    margin-bottom: 8px;
}

#info{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 280px;
}

#info li {
    display: flex;
    align-items: center;
    gap: 8px;
}
